go 1.19

use (
	./golang/kubeimooc
	golang/grpc/loadbalance/001_static_resolver
	golang/grpc/loadbalance/002_etcd_resolver
	golang/grpc/loadbalance/003_dns_resolver/client
	golang/grpc/loadbalance/003_dns_resolver/server
	golang/grpc/loadbalance/004_kube_resolver/client
	golang/grpc/loadbalance/004_kube_resolver/server
)

